.navbar {
	background-color:forestgreen;
	opacity: 1;
	margin-top: 0;
	margin-bottom: -50px;
}

.news {
	background-color: forestgreen;
	color:#fff;
}

.news-middle {
	background-color: darkgreen;
	color: #fff;
}